#NavBar{
    background-color:rgb(9, 9, 73);
    display: flex;
    text-decoration: underline;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    height: 10vh;
    object-fit:contain;
    position: sticky;
    width: 100%;
}
.navItem{
    background-color:transparent;
    color:whitesmoke;
    border:none;
    cursor:pointer;
    font-size:15px;
}
.NavLogo{
    height:100%;
}
.NavLogoWrapper{
    object-fit:contain;
    height:100%;
}
a{
    text-decoration:none;
    color:black;
}