#NavBar{
    /*background-color:rgb(9, 9, 73);*/
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    height: 10vh;
    object-fit:contain;
    position: sticky;
    width: 100%;
    
}
.navItem{
    background-color:transparent;
    color:rgb(9, 9, 73);
    border:none;
    cursor:pointer;
    font-size:15px;
}
.NavLogo{
    height:100%;
    font-family: 'Josefin Sans', sans-serif;
    text-align:center;
    vertical-align: middle;
    max-width:100%;
    display: flex;
    justify-content:center;
    align-items: center;
}
.NavLogo::before{
    content:"G";
    font-size:40px;
}
.NavLogo::after{
    content:"s";
    font-size:25px;
}
.NavLogoWrapper{
    object-fit:contain;
    height:90px;
    width: 90px;
    border-radius:50%;
    border-style:none;
    background-color:rgb(9, 9, 73);
    color:whitesmoke;
    
}
a{
    text-decoration:none;
    color:black;
}
