.productImage{
    max-height:100%;
    max-width:100%;
    object-fit:cover;
}
.productImageContainer{
    height:100px;
    width:100px;
    margin-left:auto;
    margin-right:auto;
}
#products{
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    flex-wrap:wrap;
}
.product{
    flex: 0 0 21%;
    text-align:center;
    background:whitesmoke;
    border-style:solid;
    border-width: 2px;
    border-radius: 20%;
    padding: 5px;
}
.productButton{
    background:transparent;
    font-family: 'Bebas Neue';
    border:none;
    cursor:pointer;
}
.productPrice{
    font-family: 'Bebas Neue';
}

#productsHeader{
    font-size: 50px;
    text-align:center;
    display:flex;
    justify-content:center;
    gap:85px;
}
.productBlock{
    font-size: 12px;
    display:none;
    height: 500px;
    width:100%;
    background:white;
    border-bottom-style:solid;
    border-bottom-width:5px;
    border-color:black;
    position:absolute;
    left:0%;
    right:0%;
    justify-content:space-evenly;
}
.productBlockHeader{
    font-size:18px;
    font-weight:500;
}
.productBlockHeader:hover .productBlock{display:flex;}
.productBlock:focus{
    display:none;
}

#productBlockHeaderContainer{
    display:flex;
    width: 80%;
    justify-content:space-evenly;
    margin-left:auto;
    margin-right:auto;
}
.productSubmenu{
    position:absolute;
    width:100%;
    left:auto;
    right:auto;
}
#SplashImage{
    position:sticky;
    z-index: -1;
    max-height:500px;
}
#SplashImageContainer{
    display:flex;
    align-items: center;
    justify-content: center;
}
.productBlockTitle{
    justify-content: space-evenly;
    font-size:20px;
}
.productBlockTitle:hover{
    color:rgb(60, 62, 206);
    cursor:pointer;
}
.productBlockSubTitle{
    font-size:15px;
    color:black;
}
