#sideBar{
    float:left;
    top:90px;
    left:0%;
    width:18%;
    height:800px;
    background:rgb(225, 228, 240);
    z-index:-100;
}
.sideBarCategory{
    display:flex;
    flex-direction:column;
    width:100%;
    justify-content:flex-end;
    padding:0 0 15px 0;
    overflow:hidden;
    font-size: 20px;
    font-weight: 600;
}
.sideBarCategory:hover{
    color:red;
    cursor:pointer;
}
.sideBarProduct{
    padding-top: 5px;
    color:black;
    font-size: 15px;
    font-weight:400;
}